<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <style>
    .logout{
      background-color: unset;
      border: none;
    }
  </style>
</head>
<body>
  <div th:insert="~{nav-bar :: navbar}"></div>

<!-- details -->
<div class="container">
  <a type="button" class="btn btn-default" th:href="@{categoryList}"><i
    class="fa fa-reply"></i> back</a>
    <h2>Details</h2>
    <div id="details">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>ID</th>
            <td th:text="${category.id}">id</td>
          </tr>
          <tr>
            <th>name</th>
            <td th:text="${category.name}">name</td>
          </tr>
          <tr>
            <th>child count</th>
            <td th:text="${childCategoryCount}">20</td>
          </tr>
          <tr th:if="${childCategoryCount != 0}">
            <th>child category</th>
            <td>
              <a th:each="childCategory : ${childCategoryList}" th:href="@{categoryDetail(id=${childCategory.id})}" th:text="${childCategory.name} + ' / '">tops / pants</a>
            </td>
          </tr>
          <tr th:if="${childCategoryCount == 0}">
            <th>relation item</th>
            <td th:text="${#numbers.formatInteger(itemCount, 1, 'COMMA')} + '件'"></td>
          </tr>
        </tbody>
      </table>
      <div style="display: flex; justify-content: space-between;">
        <a type="button" id="submit-button" class="btn btn-default" th:href="@{toEditCategory(id=${category.id})}"><i
          class="fa fa-pencil-square-o"></i>&nbsp;edit</a>
      </div>  
    </div>
</div>
    <!-- script -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <title>Rakus Items</title>
  </body>
  </html>
