<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <style>
    .title{
      display: flex;
      align-items:last baseline;
    }
    .sub-title{
      width: 85px;
      font-size:large;
      border: double;
      padding: 5px;
      margin-bottom: 10px;
    }
    .check{
      font-size: small;
      padding-left: 20px;
      color: red;
    }
    .changed {
      background-color: #ffff99; /* 薄い黄色の背景 */
      border: 2px solid #ff9900; /* オレンジ色の枠線 */
      transition: border 0.3s ease-in-out; /* アニメーション効果 */
    }
    .logout{
      background-color: unset;
      border: none;
    }
    .infomation{
      border: dashed;
      padding: 30px;
      width: 700px;
      margin: auto;
    }
    .important{
      color: red;
    }
    img{
      width: 200px;
      height: auto;
    }
    .preview-image{
      text-align: center;
      align-items:normal;
      width: 350px;
      height: auto;
      border: double;
      margin-top: 20px;
    }
      /* モーダルのスタイル */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    /* モーダルコンテンツのスタイル */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid orange;
      width: 40%;
    }
    /* ボタンのスタイル */
    .button {
      padding: 10px 20px;
      border: orange;
      cursor: pointer;
    }
    .button:hover {
      background-color: orange;
    }
  </style>
  <title>Rakus Items</title>
</head>
<body>
  <div th:insert="~{nav-bar :: navbar}"></div>

  <!-- details -->
  <div id="input-main" class="container">
    <a type="button" class="btn btn-default" th:href="@{detail(id=${itemData.id})}"><i
      class="fa fa-reply"></i> back</a>
    
    <div class="title">
      <h2>商品編集</h2><span class="check">defaultで元の情報が表示</span>
    </div>
    

    <!-- edit form -->
    <form action="#" th:action="@{/edit(id=${itemData.id})}" method="post" class="form-horizontal" id="edit-item" enctype="multipart/form-data">
      <!-- name -->
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="name" id="inputName" th:value="${itemData.name}"/>
          <span class="text-danger" th:errors="${itemForm.name}"></span>
        </div>
      </div>
      <!-- price -->
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">price</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" name="price" id="price" th:value="${itemData.price}" required/>
          <span class="text-danger" th:errors="${itemForm.price}"></span>
        </div>
      </div>
      <!-- category -->
      <div class="form-group">
        <label for="parentCategory" class="col-sm-2 control-label">parent category</label>
        <div class="col-sm-8">
          <select class="form-control" name="parentCategory" id="parentCategory">
            <option th:text="${originalParentCategory + ' : 元情報'}" value=""></option>
            <div th:each="category : ${categoryList}">
              <option th:if="${category.parentId == 0 && category.nameAll == null}" th:text="${category.name}" th:value="${category.name}" th:data-parent-id="${category.id}"></option>
            </div>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="childCategory" class="col-sm-2 control-label">child category</label>
        <div class="col-sm-8">
          <select class="form-control" name="childCategory" id="childCategory" disabled>
            <option th:text="${originalChildCategory + ' : 元情報'}" value=""></option>
            <div th:each="category : ${categoryList}">
              <option th:if="${category.parentId != 0 && category.nameAll == null}" th:text="${category.name}" th:value="${category.name}" th:data-child-parentId="${category.parentId}" th:data-child-id="${category.id}"></option>
            </div>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="grandCategory" class="col-sm-2 control-label">grand category</label>
        <div class="col-sm-8">
          <select class="form-control" name="grandCategory" id="grandCategory" disabled>
            <option th:text="${originalGrandCategory + ' : 元情報'}" value=""></option>
            <div th:each="category : ${categoryList}">
              <option th:if="${category.nameAll != null}" th:text="${category.name}" th:value="${category.name}" th:data-grand-id="${category.parentId}"></option>
            </div>
          </select>
          <span class="text-danger" th:if="${choiceError}" th:text="${choiceError}"></span>
        </div>
      </div>

      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
        </div>
      </div>
      <!-- brand -->
      <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">brand</label>
        <div class="col-sm-8">
          <input type="text" id="brand" class="form-control" name="brand" th:value="${itemData.brand}"/>
        </div>
      </div>
      <!-- condition -->
      <div class="form-group">
        <label for="condition" class="col-sm-2 control-label">condition</label>
        <div class="col-sm-8">
          <label for="condition1" class="radio-inline">
            <input type="radio" name="condition" id="condition1" value="1" th:checked="${itemData.condition == 1}" /> 1
          </label>
          <label for="condition2" class="radio-inline">
            <input type="radio" name="condition" id="condition2" value="2" th:checked="${itemData.condition == 2}" /> 2
          </label>
          <label for="condition3" class="radio-inline">
            <input type="radio" name="condition" id="condition3" value="3" th:checked="${itemData.condition == 3}" /> 3
          </label>
          <label for="condition4" class="radio-inline">
            <input type="radio" name="condition" id="condition4" value="4" th:checked="${itemData.condition == 4}" /> 4
          </label>
          <label for="condition5" class="radio-inline">
            <input type="radio" name="condition" id="condition5" value="5" th:checked="${itemData.condition == 5}" /> 5
          </label>
        </div>
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="description"
          class="col-sm-2 control-label">description</label>
        <div class="col-sm-8">
          <textarea name="description" id="description" class="form-control"
          rows="5" th:text="${itemData.description}" required></textarea>
          <span class="text-danger" th:errors="${itemForm.description}"></span>
        </div>
      </div>
      <!-- image -->
      <div class="form-group">
        <label for="description"
          class="col-sm-2 control-label">image</label>
        <div class="col-sm-8">
          <input type="file" name="image" id="image">
          <div style="display: flex; justify-content: center;">
            <div class="preview-image">
              <img th:src="@{${imagePath}}" alt="変更前画像" title="変更前画像">
              <p>変更前画像</p>
            </div>
            <div class="preview-image">
              <img id="imagePreview" alt="変更後画像" title="変更後画像" style="display: none;">
              <p>変更後画像</p>
            </div>
          </div>
        </div>
      </div>

      <!-- submit button -->
      <div class="form-group" style="display: flex;">
        <div class="col-sm-offset-2 col-sm-8" style="display: flex; justify-content: space-between;">
          <button type="submit" id="submit-button" class="btn btn-default" disabled>Submit</button>
          <a type="button" id="reload-button" class="btn btn-default" th:href="@{toEdit(id=${itemData.id})}">元に戻す</a>
          <a type="button" id="delete-button" class="btn btn-default" th:href="@{delete(id=${itemData.id}, updateTime=${updateTime})}">Delete</a>
        </div>
      </div>
    </form>
  </div>
    
    <!-- clear button(元の値に戻す) -->
    <div class="form-group">
    </div>

    <div class="infomation">
      <div class="sub-title">注意事項</div>
      <div class="important">
        <ul>
          <li>カテゴリを変更する場合は、親、子、孫カテゴリの全てを選択してください。</li>
          <li>category, brand, image以外は入力必須です。</li>
        </ul>
      </div>
    </div>
    
  </div>

  <div id="edit-modal" class="modal">
    <div class="modal-content">
      <p>&#x26A0;警告</p>
      <div style="text-align: center; font-size: large;">商品情報を本当に変更してもよろしいですか？</div>
      <div style="text-align: right; margin-top: 20px;">
        <button class="button" onclick="editConfirmSubmission(false)">キャンセル</button>
        <button class="button" onclick="editConfirmSubmission(true)" style="color: red;">確認</button>
      </div>
    </div>
  </div>
  <div id="delete-modal" class="modal">
    <div class="modal-content">
      <p>&#x26A0;警告</p>
      <div style="text-align: center; font-size: large;">商品を本当に削除してもよろしいですか？</div>
      <div style="text-align: right; margin-top: 20px;  ">
        <button class="button" onclick="deleteConfirmSubmission(false)">キャンセル</button>
        <button class="button" onclick="deleteConfirmSubmission(true)" style="color: red;">削除</button>
      </div>
    </div>
  </div>
  <!-- script -->
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="js/editItem.js"></script>
</body>
</html>
