<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <style>
    /* Trueの値に対するスタイル */
    #true-value {
        color: green; /* 緑色のテキスト */
        font-weight: bold; /* 太字 */
    }
    /* Falseの値に対するスタイル */
    #false-value {
        color: red; /* 赤色のテキスト */
        font-weight: bold; /* 太字 */
    }
    .logout{
      background-color: unset;
      border: none;
    }
    .current-page {
      font-weight: bold;
      text-shadow: 2px 2px 2px #aaa; 
    }


  </style>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{itemList}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form th:action="@{/logout}" method="post">
              <input type="submit" class="navbar-text logout" value="Logout"/>
            </form>
          </li>
          <li><a th:href="@{categoryList}">カテゴリ一覧へ</a></li>
        </ul>
        <p class="navbar-text navbar-right">
          user&nbsp;:&nbsp;<span id="loginName" th:text="${session.userName}"></span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <div style="text-align: right;">
      <!-- addItem link -->
      <a class="btn btn-default" th:href="@{toAdd}"><i
        class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>
    <div th:if="${totalItemCount == 0}">
      <span style="color: red;">該当の商品はありません</span>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" th:action="@{/search}" class="form-inline" role="form" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name"
            th:field="${searchCondition.name}" placeholder="item name" />
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select class="form-control" name="parentCategory" id="parentCategory" th:field="${searchCondition.parentCategory}">
              <option value="">[parent category]</option>
            <div th:each="category : ${categoryList}" >
              <option th:if="${category.parentId == 0 && category.nameAll == null}" th:text="${category.name}" th:value="${category.name}" th:data-parent-id="${category.id}"></option>
            </div>
          </select>
          <select class="form-control" name="childCategory" id="childCategory" th:field="${searchCondition.childCategory}" disabled>
              <option value="">[child category]</option>
            <div th:each="category : ${categoryList}" >
              <option th:if="${category.parentId != 0 && category.nameAll == null}" th:text="${category.name}" th:value="${category.name}" th:data-child-parentId="${category.parentId}" th:data-child-id="${category.id}"></option>
            </div>
          </select>
          <select class="form-control" name="grandCategory" id="grandCategory" th:field="${searchCondition.grandCategory}" disabled>
              <option value="">[grand category]</option>
            <div th:each="category : ${categoryList}" >
              <option th:if="${category.nameAll != null}" th:text="${category.name}" th:value="${category.name}" th:data-grand-id="${category.parentId}"></option>
            </div>
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" id="brand" name="brand" th:field="${searchCondition.brand}" placeholder="brand" />
        </div>
        <div class="form-group"></div>
        <button type="submit" id="search-button" class="btn btn-default" disabled><i
            class="fa fa-angle-double-right" value="検索"></i> search</button>
      </form>
    </div>
    <form action="" th:action="@{itemList}">
      <div>
        <button type="submit">検索条件のリセット</button>
      </div>
    </form>
    <!-- pagination -->
    <div id="pages">
      <nav class="page-nav">
        <ul class="pager">
          <form class="form-inline"></form>
          <li class="previous" th:if="${currentPage > 1}"><a th:href="@{/toSearch(page=${currentPage-1})}">&larr; prev</a></li>
          <li th:text="'対象製品：' + ${#numbers.formatInteger(totalItemCount, 1, 'COMMA')} + '件'" ></li>
          <li class="next" th:if="${currentPage < totalPage}"><a th:href="@{/toSearch(page=${currentPage+1})}">next &rarr;</a></li>
        </ul>
      </nav>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <form>
              <th>name&nbsp;<button type="submit" th:formaction="@{sort(page=${currentPage}, sort='name', order=${order == 'asc' ? 'desc' : 'asc'})}">&udhar;</button></th>
              <th>price&nbsp;<button type="submit" th:formaction="@{sort(page=${currentPage}, sort='price', order=${order == 'asc' ? 'desc' : 'asc'})}">&udhar;</button></th>
              <th>category</th>
              <th>brand</th>
              <th>cond&nbsp;<button type="submit" th:formaction="@{sort(page=${currentPage}, sort='condition', order=${order == 'asc' ? 'desc' : 'asc'})}">&udhar;</button></th>
              <!-- <th colspan="2">delete status</th>
              <th>change status</th> -->
            </form>
          <tr>
        </thead>
        <tbody th:each="item : ${itemList}">
          <tr>
            <td class="item-name"><a th:href="@{/detail(id=${item.id})}" th:text="${item.name}">item-name</a></td>
            <td class="item-price" th:text="${'&#x1F4B2;&nbsp;' + item.price}">item-price</td>
            <td>
              <span th:each="category : ${item.category}">
                <a th:href="@{categoryFilter(name=${category.name}, parentId=${category.parentId}, nameAll=${category.nameAll})}" th:text="${category.name}"></a> / 
              </span>
            </td>
            <td class="item-brand" th:text="${item.brand}"><a th:href="@{brandFilter(brand=${item.brand})}">item-brand</a></td>
            <td class="item-condition" th:text="${item.condition}">item-condition</td>
            <!-- <div th:if="${item.delete == false}">
              <td class="item-delete" id="true-value">表示</td>
              <td class="item-delete"></td>     
            </div>
            <div th:unless="${item.delete == false}">
              <td class="item-delete"></td>
              <td class="item-delete" id="false-value">非表示</td>
            </div>
            <form action="" th:action="@{delete(id=${item.id}, page=${currentPage})}" method="post">
              <td class="item-delete"><button type="submit" >変更</button></td>
            </form> -->
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div id="pages" th:if="${totalItemCount != 0}">
      <nav class="page-nav" style="text-align: center;">
        <div th:if="${totalPage <= 4}">
          <a th:each="pageNum: ${#numbers.sequence(1, totalPage)}"
          th:href="@{/toSearch(page=${pageNum})}"
          th:class="${pageNum == currentPage} ? 'current-page' : ''"
          th:text="${pageNum + '&nbsp;'}"></a>
        </div>
        <div th:if="${totalPage >= 5}">
          <div th:if="${currentPage <= 5}">
            <a th:each="pageNum: ${#numbers.sequence(1, 5)}"
            th:href="@{/toSearch(page=${pageNum})}"
            th:class="${pageNum == currentPage} ? 'current-page' : ''"
            th:text="${pageNum + '&nbsp;'}"></a>
            &hellip;
            <a th:href="@{toSearch(page=${totalPage})}" th:text="${totalPage}"></a>
            <a th:href="@{toSearch(page=${currentPage+1})}">&gt;&gt;</a>
          </div>
          <div th:if="${currentPage >= 6 && currentPage+3 < totalPage}">
            <a th:href="@{/toSearch(page=${currentPage-1})}">&lt;&lt;</a>
            <a th:href="@{/toSearch(page=1)}">1</a>&hellip;
            <a th:href="@{toSearch(page=${currentPage-3})}" th:text="${currentPage-3}">2</a>
            <a th:href="@{toSearch(page=${currentPage-2})}" th:text="${currentPage-2}">3</a>
            <a th:href="@{toSearch(page=${currentPage-1})}" th:text="${currentPage-1}">4</a>
            <a class="current-page" th:text="${currentPage}">5</a>&hellip;
            <a th:href="@{toSearch(page=${totalPage})}" th:text="${totalPage}">20</a>
            <a th:href="@{/toSearch(page=${currentPage+1})}">&gt;&gt;</a>
          </div>
          <div th:if="${currentPage+3 >= totalPage}">
            <a th:href="@{/toSearch(page=${currentPage-1})}">&lt;&lt;</a>
            <a th:href="@{/toSearch(page=1)}">1</a>&hellip;
            <a th:each="pageNum: ${#numbers.sequence(totalPage-4, totalPage)}"
            th:href="@{/toSearch(page=${pageNum})}"
            th:class="${pageNum == currentPage} ? 'current-page' : ''"
            th:text="${pageNum + '&nbsp;'}"></a>
          </div>  
        </div>
      </nav>
    </div>
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page" style="text-align: right;">
        <form class="form-inline" th:action="@{toSearch}">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <input type="number" th:max="${totalPage}" min="1" name="page" id="page-number" />
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="('/' + ${totalPage})"></div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default" id="submit-button" disabled>Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- script -->
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="js/categorySearch.js"></script>
</body>
</html>
