<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css -->
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <style>
    .description{
      font-size: xx-small;
      margin-left: 10px;
    }
    .check{
      font-size: xx-small;
      color: red;
      margin-left: 10px;
    }
  </style>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" th:href="@{itemList}">Rakus Items</a>
  </nav>
  
  <!-- register form -->
  <div id="login" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Register Account<span class="check">全項目入力必須</span></div>
      <div class="panel-body">
        <div class="check" th:if="${mailError}" th:text="${mailError}"></div>
        <form action="#" th:action="@{register}" method="post" id="register-user" th:object="${userForm}">
          <div class="form-group">
            <label for="name">name</label>
            <div class="check" th:errors="*{name}"></div>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
          </div>
          <div class="form-group">
            <label for="mail">mail address</label>
            <div class="check" th:errors="*{mail}"></div>
            <input type="email" class="form-control" id="mail" name="mail" th:field="*{mail}">
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <span class="description">英大文字、英小文字、数字を１つ以上含め、８〜２０文字</span>
            <div class="check" th:errors="*{password}"></div>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="passwordCheck">password(check)</label>
            <span class="description">passwordを再度入力してください</span>
            <div class="check" th:if="${passwordError}" th:text="${passwordError}"></div>
            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <div>
      <a type="button" class="btn btn-default" href="./login.html"><i
        class="fa fa-reply"></i>&nbsp;Login page</a>
    </div>

      <!-- script -->
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
      <script>
        // document.getElementById("register-user").addEventListener("submit", function(event) {
        //   var password = document.getElementById("password").value;
        //   var passwordCheck = document.getElementById("passwordCheck").value;
        //   var errorMessageDiv = document.getElementById("error-message");

        //   if (password !== passwordCheck) {
        //       errorMessageDiv.textContent = "{error.mail.not.match}";
        //       event.preventDefault(); // フォームの送信を阻止
        //   } else {
        //       errorMessageDiv.textContent = ""; // エラーメッセージをクリア
        //   }
        // });
      </script>
    </body>
    </html>
